.userInfoContainer {
  @apply px-2 py-4 flex justify-between;
}

.userInfoType {
  @apply text-xs font-jost relative -left-1 mb-1;
}

.balanceHeading {
  @apply text-xs  font-sans text-profile-blue-50;
}

.balance {
  @apply font-jost text-xl font-bold mb-3;
}

.uploadBtn,
.downloadBtn {
  @apply rounded-full bg-blue-500 p-2 cursor-pointer;
}

.iconButtonsContainer {
  @apply px-5;
}
.userSocialContainer {
  @apply grid gap-x-2 grid-cols-2;
}

.userSocialContainer section {
  @apply text-center;
}
.userSocialContainer h3 {
  @apply text-lg;
}
.userSocialContainer p {
  @apply text-xs text-profile-blue-50;
}
